/*! Esta hoja de estilo no es responsive !*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@100;300;400&family=Roboto:ital,wght@0,400;0,700;0,900;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@300;400&display=swap");

:root {
  --primary-color: hsl(23, 64%, 52%);
  --secondary-color: hsl(134, 52%, 38%);
  --dark-color: hsl(0, 0%, 8%);
  --gray-color: hsl(0, 0%, 20%);
  --ligth-color: hsl(0, 0%, 100%);
  --alert-color: hsl(0, 76%, 50%);
  --text-font: "Roboto", sans-serif;

  --whatsapp-color: hsl(137, 77%, 41%);
  --facebook-color: hsl(219, 73%, 40%);
  --instagram-bakground: hsl(305, 93%, 37%);
}

* {
  font-family: var(--text-font);
  color: var(--dark-color);
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.header__wrapper,
.main__wrapper,
.footer__wrapper {
  margin: auto 2vw;
}

.header {
  background-color: var(--gray-color);
}

.header * {
  color: var(--ligth-color);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__brand {
  display: flex;
  align-items: center;
}

.nav__brand-icon {
  width: 3rem;
}

.nav__brand-name {
  margin-left: 1vw;
  display: inline;
  font-size: 1.5rem;
}

.nav__list {
  margin-right: 1vw;
  display: flex;
  column-gap: 2.2rem;
}

.nosotros {
  padding: 1rem 4rem;
  text-align: center;
}

.nosotros__descripcion {
  font-size: medium;
}

.nosotros__horario-atencion {
  font-size: x-large;
  color: var(--alert-color);
}

.servicios__title {
  text-align: center;
}

.servicios_wrapper {
  display: flex;
  justify-content: space-around;
}

.servicios__content {
  width: 20rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.servicios__img {
  width: 20rem;
}

.footer {
  margin: var(--air-margin);
  text-align: center;
}

.footer_contacto {
  display: flex;
  justify-content: space-evenly;
}

.footer__icon-social-media {
  font-size: 2rem;
}

.fa-whatsapp-square {
  color: var(--whatsapp-color);
}

.fa-facebook-square {
  color: var(--facebook-color);
}

.fa-instagram-square {
  color: var(--instagram-bakground);
}

